POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=article-alchemy-service
YANDEX_TOKEN=токен
YANDEX_API=https://300.ya.ru/api/sharing-url
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/
RABBITMQ_WORKER_QUEUE=request_worker
RABBITMQ_WORKER_RESPONSE_QUEUE=response_worker