POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=article-alchemy-service

RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/
RABBITMQ_NOTIFICATION_QUEUE=notification

# переменные для почты
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=article.alchemy25@gmail.com
SMTP_PASS="eojf firz yvaj vjim"  # Пароль приложения