YANDEX_TOKEN=токен
YANDEX_API=https://300.ya.ru/api/sharing-url
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/
RABBITMQ_EXCHANGE=content_exchange
RABBITMQ_REQUEST_QUEUE=request_content_parsing
RABBITMQ_RESPONSE_QUEUE=response_content_parsing