# JWT
JWT_SECRET=your-secret-sexy-secret
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=168h

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=article-alchemy-service

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# gRPC
GRPC_HOST=localhost
GRPC_PORT=9090
